@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Geist/GeistVariableVF.ttf') format('truetype-variations');
  src: url('/fonts/Geist/GeistVariableVF.woff2') format('woff2-variations');
}